<!DOCTYPE html>
<html>
<html lang="en">
    <style media="screen">
      #divClock{
        font-size: 12px;
        color: grey;
      }
    </style>
<script type="text/javascript">
    window.onload = function() {
        document.getElementById('show').style.display = 'block';
        document.getElementById('hide').style.display = 'none';
    }

        function showClock(){
        var currentDate = new Date();
        var divClock = document.getElementById('divClock');
        var msg = "현재 시간 : ";
        if(currentDate.getHours()>12){      //시간이 12보다 크다면 오후 아니면 오전
          msg += "오후 ";
          msg += currentDate.getHours()-12+"시 ";
       }
       else {
         msg += "오전 ";
         msg += currentDate.getHours()+"시 ";
       }

        msg += currentDate.getMinutes()+"분 ";
        msg += currentDate.getSeconds()+"초";

        divClock.innerText = msg;

        if (currentDate.getMinutes()>58) {    //정각 1분전부터 빨강색으로 출력
          divClock.style.color="red";
        }
        setTimeout(showClock,1000);  //1초마다 갱신
      }
</script>

<head>
    <meta charset="UTF-8">
    <title>네이버 뉴스 크롤링</title>
</head>
<body onload="showClock()">

<h3>1. (신규) 검색 단어 등록</h3>
<p id="divClock" class="clock"> </p>
<form action="/end", method="post">
  <p>
    <label for="email"> e - mail :</label>
    <input type="email" id="email" name="email">
  </p>
  <p>
    <label for="word">검색단어:</label>
    <input type="text" id="word" name="word">
    <small>(입력한 단어가 기존에 등록한 단어와 동일할 경우 한번만 처리됩니다.)</small>>
  </p>
  <p>
    <label for="time">작업시간:</label>
    <input type="time" id="time" name="time" value="00:00:00">

    <fieldset id="news-fieldset">
      <small>
        1. 크롤링 시간을 입력하지 않는 경우, <br>
        - 오전 12시 00분 으로 크롤링 시간이 자동 설정됩니다. <br>
        <br>
        2. 크롤링 시간을 설정한 경우,<br>
        - 현재 시간과 동일한 경우, 금일은 제외, 명일부터 서비스가 진행 될 수 있습니다.<br><br>
        3. 해당 시간 설정은 기존에 입력한 검색 단어에 대해서도 일괄 적용 되어 동일한 시간에 함께 크롤링이 진행됩니다.
      </small>
    </fieldset>
  </p>
  <p>
    <input type="text" id="mode" name="mode" value="add" style="display:none">
  </p>
  <p>
    <input type="submit" value="Submit">
  </p>
</form>

</body>
</html>
