<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>네이버 뉴스 크롤링</title>
</head>

<!--<script type="text/javascript">-->
<!--    window.onload = function() {-->
<!--        document.getElementById('show').style.display = 'block';-->
<!--        document.getElementById('hide').style.display = 'none';-->
<!--    }-->
<!--</script>-->
<!--<script>-->
<!--function getService()  {-->
<!--  const serviceNodeList-->
<!--    = document.getElementsByName('service');-->

<!--  serviceNodeList.forEach((node) => {-->
<!--    if(node.checked) {-->
<!--        document.getElementById('result').innerText-->
<!--            = node.value;-->
<!--    }-->
<!--  })-->
<!--}-->
<!--</script>-->

<body>
<h2>네이버 뉴스 키워드 크롤링 서비스</h2>
<div>
    <p>해당 서비스는 메일 주소와 특정 단어를 입력하시면, 자동으로 매일 네이버 주요 뉴스를 검색하여 해당 단어가 포함된 기사의 제목과 링크, 본문을 취합하여 메일을 송부하는 서비스 입니다.</p>
    <p>검색된 기사 수는 첫 페이지 (최대 10개) 이며, 네이버 뉴스 포맷으로 서비스 되는 기사만 취합됩니다. </p>
    <p>따라서 대부분의 해외 원문 뉴스는 제외 됩니다.</p>
</div>
<br>
<fieldset id="news-fieldset">
    <legend> 원하시는 서비스를 선택하십시오 </legend>
    <form action="/add">
        <p><button onclick='getService()'>1. (신규) 검색 단어 등록</button></p>
    </form>
    <form action="/del">
        <p><button onclick='getService()'>2. 검색 단어 삭제</button></p>
    </form>
    <form action="/del_all">
        <p><button onclick='getService()'>3. 기 등록된 e-mail 삭제 (및 관련 등록 단어 삭제)</button></p>
    </form>
</fieldset>
<br>
<br>

</html>
<h2>네이버 주식 종목 크롤링</h2>
<p>주식 종목 코드 6자리 (ex. 삼성전자 : 005930) 과 받으실 e-mail를 입력해 주시면 관련정보를 실시간으로 크롤링하여 메일 첨부파일로 승부 합니다.</p>
<fieldset id="stock-fieldset">
    <form action="/stock", method="post">
        <p>
            <label for="email"> e - mail :</label>
            <input type="email" id="email" name="email">
        </p>
        <p>
            <label for="stock_code">종목코드:</label>
            <input type="text"
                   oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                   maxlength="6"
                   id="stock_code"
                   name="stock_code"/>
            <br>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</fieldset>
</body>